.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #546e7a;
  overflow: hidden;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 2rem;
  z-index: 5;
}

.siteTitle {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav li:hover {
  background-color: #37474f;
  padding: 10px;
  height: 100%;
  border-radius: 5px;
  z-index: 2;
}
