#skills {
  padding: 10%;
  background-color: #546e7a;
  text-align: center;
}

.skills-grid {
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}
